POSTGRES_HOST=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=helloworld

# Email
SMTP_ADDRESS=localhost
SMTP_PORT=25
SMTP_USER_NAME=john_appleseed
SMTP_PASSWORD=foobar123
DEFAULT_SENDER=bla@yihangho.com
