POSTGRES_HOST=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=helloworld

# Email
SMTP_ADDRESS=localhost
SMTP_PORT=25
SMTP_USER_NAME=john_appleseed
SMTP_PASSWORD=foobar123
DEFAULT_SENDER=bla@yihangho.com

# Encryption
# base64 encode this value
ENCRYPTION_KEY=ojhHEM4dsRxrX9g6huQfwQ1aoVa9qc0shAwl0uBkJjQ=

# Deployment
DEPLOY_BRANCH=staging
REPO_PATH=/root/railsbaseapp
DEPLOYED_PATH=/root/torquebox/jboss/standalone/deployments/railsbaseapp.yml.deployed
